body {
	height: 100vh;
}

/* IconBar */
.Logo2-logo-2 {
	padding: 0px !important;
	width: 40px !important;
}
.iconBar {
	height: 40px;
	/* background-color: black !important; */
}
.Tab-Header button {
	margin-left: 5px;
}

/* NavigationMenu */

.MenuNavigation-Container {
	padding: 0px !important;
}
.cellIcon {
	padding: 1px !important;
}

.MenuHeader-ActiveMenu {
	margin-left: 19px;
}

.MenuHeader-borderActiveMenu {
	border: 3px solid #96d15a;
	padding: 2px 3px;
}
.Grid-HeaderMenu {
	margin-top: 5px !important;
}

/* Allgemein */
.App:has(.renameDialogHeader) {
	opacity: 0.5;
}

.App div.RenameDialog-renameDialog-6 {
	opacity: 100% !important;
}
button {
	cursor: pointer;
}

input ~ p {
	margin-left: 5px !important;
}
input ~ p {
	margin-top: 0px !important;
	display: inline-block;
}
input:focus {
	outline: none;
}
div.App.dark .even {
	background-color: #333;
}
.even {
	background-color: #eee;
}
.odd {
	background-color: #fff;
}
input[type="checkbox"] {
	width: 20px;
	height: 20px;
	margin-bottom: 0;
	vertical-align: text-bottom;
}

.Select span {
	display: block;
	margin-left: 5px;
}
.Select select {
	margin: 5px;
	font-size: 16px;
}

/* Popup */
.menuPopup {
	display: inline-block;
	width: 180px;
	background-color: #ddd;
	position: absolute;
	z-index: 5;
	top: 160px;
	left: 20px;
	border: 1px solid #333;
	border-radius: 4px;
}
.MenuHeader-menuPopupCard {
	display: inline-block;
}
.HeaderThirdRow-ButtonAction {
	display: inline-block;
	width: 200px;
}
.TeleGrammUsers {
	display: inline-block;
	width: 200px;
}

/* Settings */
.Settings h1 {
	margin: 1px;
}
.HeaderTelegramUsers-TelegramUserCard {
	width: 100%;
	background-color: #eee;
}
.TeleGrammUserCard-content {
	padding: 0.1rem 1rem;
	margin: 0;
	width: 100px;
	display: inline-block;
}
.TeleGrammUserCard-content p {
	margin: 0;
}
.TelegramUserCard-description {
	color: #96d15a;
	font-size: 12px;
	text-decoration: underline;
	padding: 5px 0 0 16px;
	margin-bottom: 4px;
	margin-top: 0px;
}
.TelegramUserCard-User {
	margin-top: 5px;
}
.TelegramUserCard-name,
.TelegramUserCard-content > div.Checkbox {
	display: inline !important;
}
.TelegramUserCard-checkbox input[type="checkbox"] {
	margin-bottom: 0px;
}
.TelegramUserCard-ChatID {
	font-size: 0.7rem;
}
