body {
	height: 100vh;
}

/* IconBar */
.Logo2-logo-2 {
	padding: 0px !important;
	width: 40px !important;
}
.iconBar {
	height: 40px;
}
.Tab-Header {
	margin-bottom: 0;
	background-color: #3399cc;
}
.Tab-Header button {
	margin-left: 5px;
}
.Tab-Header img {
	margin: 5px;
}
/* Tab-Navigation */
.App-TabList button {
	background-color: #ddd !important;
	border-radius: 6px;
	border: 2px solid #aaa !important;
	margin: 0px 5px 5px 5px;
}

.App-TabList > div > div {
	background-color: #3399cc;
}

.dark .App-TabList > div > div {
	background-color: rgb(59, 59, 59);
}
.blue .App-TabList > div > div {
	background-color: rgb(62, 68, 72);
}
/* Hover */
.App-TabList button:hover,
.MenuPopupCard-Popup button:hover {
	background-color: #eee !important;
	border-color: #888 !important;
}
/* HeaderMenu */
.MenuPopupCard-Popup {
	display: inline-block;
	width: 160px;
	background-color: #fff;
	position: absolute;
	z-index: 5;
	top: 142px;
	left: 5px;
	border: 2px solid #333;
	border-radius: 4px;
}
.MenuPopupCard-Popup button {
	color: #3399cc !important;
	background-color: #ddd !important;
	border: 2px solid #aaa !important;
}
.HeaderMenu-menuPopupCard {
	display: inline-block;
}
.dark .HeaderMenu-GridContainer,
.blue .HeaderMenu-GridContainer {
	color: white;
}
.HeaderMenu-GridContainer {
	font-size: 0.8rem;
}
.HeaderMenu-GridContainer input {
	margin-top: 0 !important;
	margin-left: 0 !important;
	font-size: 0.8rem !important;
}
/* Header Telegram User */
.HeaderThirdRow-ButtonAction {
	display: inline-block;
	width: 200px;
}
.TeleGrammUsers {
	display: inline-block;
	width: 200px;
}

/* Grid Main Content */
.App-main-content {
	padding-top: 0 !important;
}
div.MuiTabPanel-root {
	overflow: hidden;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
	width: calc(100%) !important;
	padding: 2px 5px 5px 5px;
}

/* NavigationMenu */
/* Table ist in Allgemein */
.MenuNavigation-Container table tbody tr:first-child {
	background-color: #96d15a !important;
}
.MenuNavigation-Container table tbody tr[draggable]:hover,
.TableDndAction-Body tr[draggable]:hover {
	background-color: rgba(51, 153, 204, 0.5) !important;
}

.MenuNavigation-Container,
.SetState-Container,
.SendPic-Container,
.GetState-Container {
	padding: 0px !important;
	overflow: auto;
	height: calc(100%);
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
}
.SetState-Container {
	height: calc(100% - 50px);
}

/* Settings */
.Settings h1 {
	text-decoration: underline;
	padding-bottom: 2rem;
	padding-left: 5px;
}
.Settings select {
	border: none;
	border-bottom: 1px solid #aaa;
}
.Settings input[type="checkbox"] {
	margin-left: 8px;
}
.Settings input[type="checkbox"]:checked {
	color: #96d15a;
	accent-color: rgb(33, 150, 243);
}

.Settings label p {
	font-size: 0.8rem;
	color: #777;
	padding-left: 3px;
}
/* DialogContainer */

.DialogBackground {
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 1000;
}
.DialogContainer-Header {
	background-color: #ddd;
	font-family: "Roboto,Helvetica,Arial,sans-serif";
	font-size: 1.25rem;
	font-weight: 500;
	line-height: 1.6;
	padding: 10px 10px 10px 30px;
	margin: 5px 5px 60px 5px;
	border-radius: 4px;
}
.DialogContainer .Input-Container {
	margin: 0 10px;
}
.DialogContainer-Footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: right;
}
.DialogContainer-Footer button {
	padding: 0 30px !important;
	margin: 0 8px 10px 8px !important;
	border: none !important;
	font-size: 1.2rem !important;
}
.DialogContainer .DialogContainer-Footer button[disabled] {
	opacity: 0.5 !important;
}
.DialogContainer button[name="ok"] {
	background-color: #3399cc !important;
	color: white !important;
	opacity: 1 !important;
}
.DialogContainer button[name="ok"]:not([disabled]):hover {
	background-color: rgb(35, 107, 142) !important;
	transition: background-color 0.5s ease;
}
.DialogContainer button[name="cancel"] {
	background-color: #cdcdcd !important;
	color: black !important;
	opacity: 1 !important;
}
.DialogContainer button[name="cancel"]:hover {
	background-color: #aaa !important;

	transition: background-color 0.5s ease;
}

/* Drag and Drop, not select Text */
.no-select {
	user-select: none; /* Standard */
	-moz-user-select: none; /* Firefox */
	-webkit-user-select: none; /* Safari und Chrome */
	-ms-user-select: none; /* Internet Explorer/Edge */
}
.cellIcon {
	padding: 1px !important;
}

.MenuHeader-ActiveMenu {
	margin-left: 19px;
}

.MenuHeader-borderActiveMenu {
	border: 3px solid #96d15a;
	padding: 2px 3px;
}
.Grid-HeaderMenu {
	margin-top: 5px !important;
}
/* Edit cards */
.RowSetCard-Container input {
}

/* Allgemein */
/* Table */
.MuiTableHead-root tr th {
	background-color: #3399cc !important;
}
.Tab-Box table th {
	padding: 2px 0px 2px 10px;
	top: 0;
}
.TableDndAction-Body {
	width: 95% !important;
}

table {
	border-collapse: collapse !important;
	width: calc(100% - 5px) !important;
}

tr[draggable] {
	cursor: grab;
	padding-right: 10px !important;
	margin-right: 10px;
}

tr td {
	padding: 2px 5px !important;
	font-size: 0.8rem !important;
}
tr:not(.SubTable):nth-child(even) {
	background-color: #eee;
}
tr:not(.SubTable):nth-child(odd) {
	background-color: #fff;
}
/* Button */
button {
	cursor: pointer;
}

input ~ p {
	margin-left: 5px !important;
}
input ~ p {
	margin-top: 0px !important;
	display: block;
}
input:focus {
	outline: none;
}

input[type="checkbox"] {
	width: 20px;
	height: 20px;
	margin-bottom: 0;
	vertical-align: text-bottom;
}

.Select span {
	display: block;
	margin-left: 5px;
}
.Select select {
	margin: 5px;
	font-size: 16px;
}

/* Settings */
.Settings h1 {
	margin: 1px;
}
.HeaderTelegramUsers-TelegramUserCard {
	width: 100%;
	background-color: #eee;
}
.TeleGrammUserCard-content {
	padding: 0.1rem 1rem;
	margin: 0;
	width: 100px;
	display: inline-block;
}
.TeleGrammUserCard-content p {
	margin: 0;
}
.TelegramUserCard-description {
	color: #96d15a;
	font-size: 12px;
	text-decoration: underline;
	padding: 5px 0 0 16px;
	margin-bottom: 4px;
	margin-top: 0px;
}
.TelegramUserCard-User {
	margin-top: 5px;
}
.TelegramUserCard-name,
.TelegramUserCard-content > div.Checkbox {
	display: inline !important;
}
.TelegramUserCard-checkbox input[type="checkbox"] {
	margin-bottom: 0px;
}
.TelegramUserCard-ChatID {
	font-size: 0.7rem;
}

.disabled {
	pointer-events: none;
	opacity: 0.4;
}
.MuiTabs-root div.MuiTabs-fixed {
	position: fixed;
	background-color: white;
	width: 100%;
	z-index: 100;
}
