/* You can delete those if you want. I just found them very helpful */
* {
	box-sizing: border-box;
}
#body {
	height: 99% !important;
}
.m {
	/* Don't cut off dropdowns! */
	overflow: initial;
}
.m.adapter-container,
.m.adapter-container > div.App {
	/* Fix layout/scrolling issues with tabs */
	height: 100% !important;
	width: 100%;
	position: relative;
	overflow: auto;
}

.m .select-wrapper + label {
	/* The positioning for dropdown labels is messed up */
	transform: none !important;
}

label > i[title] {
	/* Display the help cursor for the tooltip icons and fix their positioning */
	cursor: help;
	margin-left: 0.25em;
}

.dropdown-content {
	/* Don't wrap text in dropdowns */
	white-space: nowrap;
}
.btn-add {
	margin-left: 20px;
}
.bg-error {
	background-color: rgb(243, 96, 96);
}
.bg-nav-user {
	background-color: #ddd;

	margin-right: 20px !important;
}
#user_list .tab {
	text-transform: none;
}
h1 {
	font-size: x-large !important;
	text-decoration: underline;
	margin-top: 10px !important;
}
#tab_action {
	background-color: white;
	border: 5px solid #64b5f6;
	width: 90% !important;
}

.page-footer {
	position: absolute;
	width: 100%;
	bottom: 0px;
	padding: 10px !important;
}
.page-footer a {
	float: right;
}

#dialog-select-member {
	max-height: 95% !important;
	max-width: 85% !important;
	width: 80% !important;
	height: 90% !important;
	overflow: visible !important;
	top: 100px !important;
	z-index: 100;
}

.showHideMenu {
	height: 28px;
	font-size: 1rem;
	margin-bottom: 0.25rem;
	font-weight: 700;
	cursor: pointer;
}
.showHideMenu i {
	vertical-align: -5px;
}
table th {
	background-color: #64b5f6;
}
.text-small {
	font-size: 0.75rem;
}
.startRow {
	background-color: rgb(150, 209, 90);
}

.infoText {
	text-align: center;
	color: #ce3a3a;
	margin: 0;
	margin-bottom: 5px;
	text-decoration: underline;
}

header {
	margin: 0 !important;
}
.row {
	margin-bottom: 5px !important;
}
