/* You can delete those if you want. I just found them very helpful */
* {
	box-sizing: border-box;
}
.m {
	/* Don't cut off dropdowns! */
	overflow: initial;
}
.m.adapter-container,
.m.adapter-container > div.App {
	/* Fix layout/scrolling issues with tabs */
	height: 100%;
	width: 100%;
	position: relative;
}
.m .select-wrapper + label {
	/* The positioning for dropdown labels is messed up */
	transform: none !important;
}

label > i[title] {
	/* Display the help cursor for the tooltip icons and fix their positioning */
	cursor: help;
	margin-left: 0.25em;
}

.dropdown-content {
	/* Don't wrap text in dropdowns */
	white-space: nowrap;
}
.btn-add {
	margin-left: 20px;
}
.bg-error {
	background-color: rgb(243, 96, 96);
}
.bg-nav-user {
	background-color: #ddd;

	margin-right: 20px !important;
}
#user_list .tab {
	text-transform: none;
}
h1 {
	font-size: x-large !important;
	text-decoration: underline;
	margin-top: 10px !important;
}
#popup {
	background-color: bisque;
	width: 95%;
	height: 400px;
	z-index: 100;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	display: none;
}
/* Add your styles here */
