.button__copy {
	background-color: green !important;
	color: white !important;
}
.button__add {
	background-color: #ddd !important;
}
.button__delete {
	background-color: red !important;
	color: white !important;
}
.button__edit,
.button__info {
	background-color: blue !important;
	color: white !important;
}
.button__ok {
	background-color: #3399cc !important;
	color: white !important;
	opacity: 1 !important;
}
.button__ok:not([disabled]):hover {
	background-color: rgb(35, 107, 142) !important;
	transition: background-color 0.5s ease;
}

.button__close {
	background-color: #cdcdcd !important;
	color: black !important;
	opacity: 1 !important;
}

.button {
	border-radius: 5px !important;
	width: 100px !important;
	height: 30px !important;
	border:3px solid transparent !important;
}

.button--hover:hover {
	border: 3px solid rgb(103, 103, 103) !important;
	opacity: 0.8 !important;
}

.button--disabled {
	pointer-events: none;
	opacity: 0.4 !important;
}

.button--children {
	display: flex;
	align-items: end;
	justify-content: center;
	height: 100%;
	margin-top: 0.5rem;
}

.button__icon {
	width: 30px !important;
	min-width: none !important;
	height: 30px !important;
	margin: 0 5px 0 5px !important;
	border: 1px solid black !important;
	border-radius: 6px !important;
}
.button__icon .button--children{
	margin-top: 0 !important;
}
.button__flex .button--children{
	display: flex;
	align-items: center;
	justify-content: center;
}

.button__primary {
	background-color: white !important;
	color: black !important;
}

.btn__menu_expand{
	margin-left: 0.25rem;

}
.btn__menu_expand .button--children{
	margin-left: 0.25rem;
	margin-top: 0 !important;
}

