/* Color and Border */
.bg-error,
.bg-error-doubleUser {
	background-color: #f75555;
}
.m .border:has(p.warning) {
	border-color: #f75555;
}
.m p.warning {
	color: #f75555 !important;
}
.border {
	border: 2px solid white;
}
.checkFalse {
	border: 2px solid #f75555;
}
.checkTrue {
	border: 2px solid #34e251;
}
.startRow {
	background-color: #96d15a;
}
#tab_action {
	background-color: white;
	border: 5px solid #64b5f6;
}
table th {
	background-color: #64b5f6;
}
.bg--header {
	background-color: #3399cc !important;
}
#tab-action p.name {
	border-bottom: 2px solid white;
}
#activMenuOutput {
	border-color: #96d15a;
}
.m p.description {
	color: #96d15a !important;
}
#btn_expand {
	border: 2px solid white;
}
.tab {
	background-color: #eee;
	border: 3px solid #999;
}
.tab:hover {
	background-color: #fff;
	border-color: #0e1072;
}
li.tab:has(.active) {
	border-color: #477da8 !important;
}
.m.react-dark .tab {
	background-color: #575757;
}
/* DarkMode */
.m.react-dark .tabs,
.m.react-dark header {
	background-color: #2a2a2a;
}
.m.react-blue .tab {
	background-color: #575757;
}
.m.react-blue .tabs,
.m.react-blue header {
	background-color: #2d3438;
}
.m.react-dark #tab-action p.name {
	border-bottom: 2px solid #2a2a2a;
}
.m.react-blue #tab-action p.name {
	border-bottom: 2px solid #575757;
}

/* Popup MenuListe */
#group_list {
	background-color: white;
	border: 3px solid #575757;
}
.m.react-dark #group_list {
	background-color: #2a2a2a;
}
.m.react-blue #group_list {
	background-color: #575757;
	border-color: #2a2a2a;
}
#newText {
	border-top: 3px solid white;
}
