/* Color and Border */
.border {
	border: 2px solid white;
}
.checkFalse {
	border: 2px solid #f75555;
}
.checkTrue {
	border: 2px solid #34e251;
}
.startRow {
	background-color: rgb(150, 209, 90);
}

/* DarkMode */
.m.react-dark .tab {
	background-color: #575757;
}
.m.react-dark .tabs,
.m.react-dark header {
	background-color: #2a2a2a;
}
.m.react-blue .tab {
	background-color: #575757;
}
.m.react-blue .tabs,
.m.react-blue header {
	background-color: #2d3438;
}
.m.react-dark #tab-action p.name {
	border-bottom: 2px solid #2a2a2a;
}
.m.react-blue #tab-action p.name {
	border-bottom: 2px solid #575757;
}

/* Popup MenuListe */
#group_list {
	background-color: white;
	border: 3px solid #575757;
}
.m.react-dark #group_list {
	background-color: #2a2a2a;
}
.m.react-blue #group_list {
	background-color: #575757;
	border-color: #2a2a2a;
}
