:root {
    --red-dark: red;
    --iobroker-blue: #3399cc;
    --iobroker-blue-hover: #236B8EFF;
    --blue-hover: rgba(51, 153, 204, 0.5); /*Is lighter than it seems, because of opacity , and much lighter than --iobroker-blue-hover*/
    --blue-lighter: #99c0f9;
    --blue-light: #2196F3FF;
    --blue: blue;
    --green-lighter: #b5fb6f;
    --green-light: #96d15a;
    --dark-green: green;
    --yellow-lighter: #f1e4b0;
    --gray-lightest: #f5f5f5;
    --gray-lighter: #aaa;
    --gray-light: #888;
    --gray: #777;
    --gray-dark: #555;
    --gray-darker: #333;
    --gray-darkest: #1e1e1e;
    --light: #eee;
    --dark: black;
    --transparent-dark: rgba(0, 0, 0, 0.5);

    --destructive: var(--red-dark);
    --success: var(--green-lighter);
    --startside: var(--green-light);
    --startside-none: var(--blue-lighter);
    --scrollbar: var(--gray-light);
    --scrollbar-static: var(--gray-lightest);
    --scrollbar-hover: var(--gray-dark);
    --dialog-bg: var(--transparent-dark);


    --text-primary: black;
    --text-secondary: white;
    --text-header: black;

    --button-bg-primary: white;
    --button-border-primary: var(--gray-darkest);
    --button-text-primary: black;
    --button-border: var(--gray);

    --button-border-active: var(--gray-lightest);
    --button-bg-active: var(--gray-lighter);
    --button-color-active: black;

    --button-bg-hover: var(--gray-lighter);
    --button-text-hover: black;
    --button-border-hover: var(--gray);

    --button-ok-bg-hover: var(--iobroker-blue-hover);

    --button-bg-add: var(--gray-light);
    --button-bg-copy: var(--dark-green);
    --button-bg-delete: var(--destructive);
    --button-bg-infoEdit: var(--blue);
    --button-bg-close: var(--gray-light);
    --button-text-secondary: white;

    --button-bg-true: var(--green-lighter);
    --button-bg-false: var(--destructive);
    --button-color-boolean: var(--gray-dark);

    --select-bg: white;
    --select-border: var(--gray-light);
    --select-border-hover: var(--gray-dark);
    --select-bg-hover: var(--gray-lightest);
    --select-color: black;

    --iobroker-color: var(--iobroker-blue);
    --menu-function-row: peachpuff;

    --row-button: var(--yellow-lighter);
    --row-button-text: black;
    --row-container: var(--blue-lighter);

    --border-row-buttons: black;
    --border-row-container: black;
    --border-dark: var(--gray-dark);
    --border-primary: var(--iobroker-blue);
    --border-secondary: var(--gray-light);

    --input-bg: white;
    --input-text: black;
    --input-border: var(--gray-light);
    --input-placeholder-color: var(--gray);

    --table-head: var(--iobroker-blue);
    --table-hover: var(--blue-hover);
    --table-row-even: var(--light);
    --table-row-odd: white;

    --checkbox-bg: var(--blue-light);

    --background-primary: var(--gray-lightest);

    --hover-dark: var(--gray-dark);

}

.dark {
    --text-primary: white;
    --text-secondary: black;
    --text-header: var(--iobroker-blue);

    --button-text-primary: var(--iobroker-blue);

    --button-border-active: var(--gray-lightest);
    --button-bg-active: var(--gray-dark);
    --button-color-active: var(--gray-lightest);

    --button-bg-hover: var(--gray-light);
    --button-border-hover: var(--gray-lighter);
    --button-text-hover: var(--gray-lightest);

    --button-bg-primary: var(--gray-dark);
    --button-border-primary: var(--gray);

    --select-bg: var(--gray-light);
    --select-border: var(--gray-lightest);
    --select-border-hover: var(--gray-dark);
    --select-bg-hover: var(--gray-lightest);
    --select-color: white;

    --iobroker-color: var(--gray-darkest);

    --input-bg: var(--gray-light);
    --input-text: white;
    --input-border: var(--gray-darkest);
    --input-placeholder-color: var(--gray-dark);

    --table-head: var(--gray-dark);
    --table-row-even: var(--gray-darker);
    --table-row-odd: var(--gray-dark);

    --primary-color: var(--gray-darkest);
    --row-button: var(--gray-darker);
    --row-button-text: white;
    --background-primary: var(--gray-darker);
}
