.table__container_description td p {
    display: none;
}

.table__container_description td label {
    width: 100% !important;
    display: inline-block;
}

.table__container_description td input {
    height: 30px;
    color: #4caaf4 !important;
    width: calc(100% - 0.5rem) !important;
}

.popup__description_header {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0.5rem;
}

.popup__description {
    border: 1px solid black;
    padding: 10px;
}

.dark .tab__description_text {
    color: white
}