.edit__container {
    padding-top: 1rem;
}

.edit__container label {
    width: 100%;
}

.edit__container-Trigger {
    margin-left: 20px;
    margin-bottom: 30px;
    display: inline-block;
}

.edit__container-ParseMode {
    display: inline-block;
    margin-left: 100px;
}

.edit__container .input__container {
    width: 100% !important;
    height: auto !important;
}

.input__container label input {
    margin-top: 0.5rem !important;
}

.input__container label {
    display: inline-block;
    height: 1rem
}

.edit__container {
    display: flex;
    flex-direction: column;
    max-height: 100% !important;
}

.edit__container table {
    overflow: auto;
    max-height: 100%;
}

.edit__container label p {
    margin-left: 8px !important;
}

.edit__container .input__icon {
    width: 10px !important;
}

/*.edit__container input[type="checkbox"]:checked {*/
/*    color: #96d15a;*/
/*    accent-color: rgb(33, 150, 243);*/
/*}*/

.edit__container td:nth-child(1) {
    padding-left: 0.35rem !important;
}

.edit__container_action {
    overflow: auto;
    flex: 1;
    max-height: 100%;
}