/* IconBar */
img[alt="logo"] {
    padding: 0 !important;
    width: 40px !important;
}

.header__icons {
    margin-bottom: 0;
    border-radius: 0 !important;
}

.light .header__icons {
    background-color: var(--iobroker-blue);
}

.header__icons button {
    margin-left: 5px;
}

.header__icons img {
    margin: 5px;
}
