input {
	margin: 0 !important;
	padding-left: 5px !important;
	border: none !important;
	width: calc(100% - 50px) !important;
	min-width: 300px !important;
	font-size: 16px !important;
	border-color: #ccc !important;
	border-bottom: 1px solid #ccc !important;
}

.HeaderMenu-GridContainer input {
	margin-top: 0 !important;
	margin-left: 0 !important;
	font-size: 1.2rem !important;
}
.Settings input[type="checkbox"] {
	margin-left: 8px;
}

.RenameCard input {
	text-align: center;
}
tr[draggable="true"] input {
	cursor: text;
	user-select: text; /* Standard */
	-moz-user-select: text; /* Firefox */
	-webkit-user-select: text; /* Safari */
	-ms-user-select: text; /* Internet Explorer/Edge */
	/* padding: 5px 0; */
}

.inUse,
.inUse input {
	color: red !important;
	border-color: red !important;
}

.dark input,
.blue input {
	background-color: inherit;
	color: white;
	border-bottom: 1px solid white !important;
}
.dark .HeaderMenu-GridContainer input:hover,
.blue .HeaderMenu-GridContainer input:hover {
	border-width: 2px !important;
}

input ~ p {
	margin-left: 5px !important;
}
input ~ p {
	margin-top: 0px !important;
	display: block;
}
input:focus {
	outline: none;
}

input:disabled {
	opacity: 0.3;
}

/* checkbox */
/* Allgemein */
label.checkbox {
	display: flex;
	align-items: center;
	height: 20px;
}

label.checkbox input {
	display: inline-block !important;
	width: 20px !important;
	height: 20px !important;
}

label.checkbox span {
	margin-left: 5px;
}

#root table tbody input[type="checkbox"] {
	width: 20px !important;
	height: 20px !important;
	vertical-align: text-bottom;
	cursor: pointer !important;
}

input[type="checkbox"]:checked {
	accent-color: rgb(33, 150, 243);
}

.checkbox__line {
	margin-left: 8px !important;
	margin-top: 5px !important;
}
