/* Table scrollen */

/* Aktion */
.resizeFull {
	position: relative;
	top: 0;
	flex-grow: 1; /* Nimmt den verbleibenden vertikalen Platz ein */
	width: 100%;
	display: flex; /* Füge eine Flexbox-Anzeige hinzu */
	flex-direction: column; /* Setze die Ausrichtung auf Spalten */
}
/* Table Wrapper Allgemein */
.table_wrapper {
	overflow-y: auto;
}
#tab-action .table_wrapper .name {
	position: sticky;
	top: 0;
	z-index: 5;
	padding-bottom: 10px;
}
#tab-action .table_wrapper th {
	position: sticky;
	top: 28;
	z-index: 5;
	padding-bottom: 10px;
}
.table_wrapper #table_nav th {
	position: sticky;
	top: 0;
	z-index: 5;
	padding-bottom: 10px;
}

/* Table Wrapper Nav */
#tab-nav .table_wrapper,
.table_wrapper.action {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
}

/* Table Wrapper Action Popup */
.table_wrapper.action_popup {
	position: relative;
	max-height: 280px;
}

/* Popup */
#tab_action div.modal-content {
	padding-bottom: 0 !important;
}
