/* Table scrollen */

/* Aktion */
#tab-action {
	position: relative;
	top: 0;
	flex-grow: 1; /* Nimmt den verbleibenden vertikalen Platz ein */
	display: inline-block;
	box-sizing: border-box;
	width: 100%;
}
/* Table Wrapper Allgemein */
.table_wrapper {
	overflow-y: auto;
}
.table_wrapper .name {
	position: sticky;
	top: 0;
	z-index: 5;
	padding-bottom: 10px;
}
.table_wrapper th {
	position: sticky;
	top: 28;
	z-index: 5;
	padding-bottom: 10px;
}

/* Table Wrapper Nav */
.table_wrapper.nav {
	max-height: 45%;
}
/* Table Wrapper Action Popup */
.table_wrapper.action_popup {
	position: relative;
	max-height: 280px;
}
.table_wrapper.action {
	position: absolute;
	top: 0;
	bottom: 0;
}

/* Popup */
#tab_action div.modal-content {
	padding-bottom: 0 !important;
}

/* Footer */
.modal-footer {
	z-index: 5;
}
