@import "input-select.css";
@import "./edit-container.css";
@import "./button.css";
@import "./editor-header.css";
@import "./table.css";
@import "./textarea.css";
@import "./app-content.css";
@import "./row-editor.css";
@import "./header.css";
@import "./tab-action.css";
@import "./custom_classes.css";
@import "./description.css";
@import "./colors.css";
@import "./scrollbar.css";

body {
    height: 100vh;
    overflow: auto;
}

h1 {
    text-decoration: underline;
    padding-bottom: 2rem;
    padding-left: 5px;
}

.App.row {
    height: 100% !important;
}

label p {
    font-size: 0.8rem;
    color: var(--text-primary);
}

/* Tab-Navigation */
.app__navigation_row {
    background-color: var(--iobroker-color);
    padding-bottom: 5px;
}

.app__navigation_row button:last-child {
    margin-right: 5px;
}

/* HeaderMenu */
.menu__list_popup {
    display: inline-block;
    width: 160px;
    position: absolute;
    z-index: 1500;
    top: calc(30px + 0.5rem);
    left: 0.5rem;
    border: 2px solid #333;
    border-radius: 4px;
    max-height: 74vh;
    overflow: auto;
    background-color: var(--background-primary);
}


.header__button_row {
    font-size: 0.8rem;
    height: auto !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
}

/* Header Telegram User */


.telegram__errorMessage {
    color: var(--destructive);
    font-size: 0.7rem;
    padding: 0.5rem 1rem;
    border: 1px solid var(--destructive);
    margin-left: 20px
}

.cover__save_btn {
    position: absolute;
    bottom: 0;
    width: 34vw;
    height: 65px;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1200;
}

/* error */
.error__container-double_trigger {
    color: var(--destructive);
    position: absolute;
    top: 5px;
    max-width: 400px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    border: var(--destructive);
    background-color: var(--background-primary);
}

.error__container-double_trigger .error__header {
    margin: 2px 5px;
}

/* Grid Main Content */

div.MuiTabPanel-root {
    overflow: hidden;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    width: 100% !important;
    padding: 2px 5px 0 0;
}

/* NavigationMenu */
.navigation__container {
    height: calc(100% - 0.5rem) !important;
}

.navigation__container .startside__active {
    background-color: var(--startside) !important;
}

.navigation__container .startside__active td {
    color: var(--dark) !important;
}

.navigation__container .startside__inactive {
    background-color: var(--startside-none) !important;
}

.navigation__container .textSubmenuInfo {
    font-size: 1rem;
    font-weight: 900;
}

.navigation__container,
.action__container {
    padding: 0 !important;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    overflow-y: auto;
}

.action__container {
    height: inherit;
}

.tab__action,
.tab__action > div.MuiTabPanel-root {
    height: calc(100% - 0.5rem) !important;
    padding-left: 0 !important;
}

/* DialogContainer */

.dialog__card_wrapper {
    background-color: var(--dialog-bg);
    width: 100vw;
    height: 100vh;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1100;
}

.dialog__card_header {
    font-family: "Roboto,Helvetica,Arial,sans-serif", serif;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.6;
    padding: 10px 10px 10px 30px;
    margin: 5px 5px 5px 5px;
    border-radius: 4px;
    color: var(--text-header);
    background: var(--iobroker-color);
}

.dialog__card_footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: right;
}

.dialog__card_footer button {
    padding: 0 30px !important;
    margin: 0 8px 10px 8px !important;
    border: none !important;
    font-size: 1.2rem !important;
    width: 150px !important;
    height: 40px !important;
}

.dialog__card {
    background-color: var(--background-primary) !important;
}

.dialog__card_content {
    padding: 0 0.5rem 0 0.5rem;
    height: calc(100% - 145px);
}

.dropbox__container {
    background-color: transparent !important;
    height: 44% !important;
    width: 250px !important;
    left: auto !important;
    cursor: move;
}

.dropbox__container > div.dialog__card {
    transform: none !important;
    top: 0 !important;
    left: auto !important;
    height: 100% !important;
}

.dropbox__dialog_rename-wrapper {
    position: fixed;
    top: -200px;
    right: 0;
    left: 0;
    height: 100vh;
    bottom: 500px;
}

.dropbox__drag_in_field {
    background-color: var(--background-primary);
    color: var(--text-primary);
    width: 90%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 40%;
    border: 2px solid var(--dark);
    padding: 10px;
}

.dropbox__dialog_rename-card {
    bottom: -250px !important;
}

.dropbox__drag_in_field p {
    text-align: center;
    font-weight: 500;
    font-size: 1.5rem;
    margin-top: 10px;
    color: var(--iobroker-blue);
    text-decoration: underline;
    margin-bottom: 10px;
}

.dropbox__drag_in_field p.DropBox-Content {
    font-size: 0.7rem;
    margin-top: 0;
    text-decoration: none;
}

.dropbox__content label {
    color: var(--text-primary) !important;
}

.helper__btn_search {
    position: absolute;
    margin-left: 8px !important;
}

.btn__circle_add {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    color: var(--iobroker-blue);
    border: none;
    display: inline-block;
    cursor: pointer;
    margin-left: 4px;
}

/* Edit cards */

.rename__card {
    display: flex;
    justify-content: center;
}


.rename__card input {
    margin-top: 1rem !important;
}

.table__cell_icon {
    padding: 1px !important;
    width: 30px !important;
}

/* Allgemein */
/* label */

/*Wird generiert in actionUtils */
button.buttonTrue,
button.buttonFalse {
    border-radius: 5px;
    border: none;
    width: 20px;
    height: 20px;
    padding: 0;
    margin-top: 4px;
    color: var(--button-color-boolean);
}

button.buttonTrue {
    background-color: var(--button-bg-true) !important;
}

button.buttonFalse {
    background-color: var(--button-bg-false) !important;
}

button.buttonTrue i,
button.buttonFalse i {
    margin-top: 1px;
    font-size: 1.2rem;
    text-align: center;
}

p.inUse {
    position: absolute;
    top: 60px;
    left: 5px;
}


.settings__tab {
    color: var(--text-primary);
}

.telegram__users-container {
    display: flex;
    margin-right: 0.5rem;
    margin-left: 0.25rem
}
.telegramm__users-active-group{
    margin-top:0.5rem;
    padding-top: 0.5rem;
}

.telegram__user-cards {
    width: 100%;
    margin-bottom: 0.25rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.telegram__user-cards p {
    margin-bottom: 0;
    margin-top: 0;
}

.telegramm__user-content {
    padding: 0.25rem 0.5rem;
    border: 1px solid var(--border-primary);
    width: auto;
    display: inline-block;
    margin-right: 0.5rem !important;
    margin-top: 0.5rem !important;
    color: var(--text-primary)
}

.telegram__users_description {
    font-size: 0.70rem !important;
    margin-left: 0;
    margin-bottom: 4px;
    margin-top: 0;
}

.telegram__user-name {
    display: inline !important;
}
.telegram__user-checkbox{
    margin-top: 0.5rem !important;
}

.telegram__user-chat-id {
    font-size: 0.7rem;
}


/* Trigger Overview */
.trigger__overview_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    height: calc(100vh - 180px);
    overflow: auto;
}

.trigger__overview_wrapper li {
    cursor: help;
    padding-left: 4px;
}

/* Für die .Menu-list-card Elemente */
.menu__card_container {
    display: inline-block;
    vertical-align: top; /* Um sicherzustellen, dass die Karten oben ausgerichtet sind */
    margin: 3px 3px;
    padding: 0 3px;
    background-color: var(--background-primary);
    color: var(--text-primary);
    width: max-content;
}

.menu__action_list li,
.menu__card_container li {
    list-style-type: none;
    font-size: 0.7rem;
    line-height: 0.75rem;
}

/* Für die <p> und <ul> Elemente innerhalb der .Menu-list-card */
.menu__card_container > p,
.menu__card_container > ul {
    display: block;
}

.menu__card_container ul {
    padding-left: 20px;
}

.trigger__overview_user-list {
    background-color: var(--background-primary);
}


.trigger__overview_user-list p {
    margin-top: 4px;
    margin-bottom: 0;
    padding: 0 5px;
    color: var(--dark);
}

.trigger__overview_user ~ p {
    font-size: 0.75rem;
    padding-bottom: 2px;
    font-weight: 500;
    display: inline-block;
    margin-top: 0;
}

.list__created-trigger li {
    padding-left: 5px;
}

.trigger__overview_menu-startside {
    background-color: var(--success);
    color: var(--dark);
}

.trigger__overview_wrapper ul li ul li {
    font-size: 0.75rem;
    line-height: 0.75rem;
}

.trigger__overview_menu-description {
    margin: 2px 0 4px 0;
    text-decoration: underline;
    font-size: 0.8rem;
    font-weight: 500;
}

.editor__modal_container {
    margin-top: 4rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.header__menu_buttons {
    margin: 0.5rem 0.5rem 0 0.5rem;
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.header__menu_buttons input {
    height: calc(30px - 1rem);
}

.table__row_container:has(.row__button) {
    margin: 0.5rem 0 0.5rem 0;
    border: 1px solid var(--border-row-container);
    background: var(--row-container);
}

.nav__row {
    margin: 0;
    padding: 1px 1px !important;
    font-size: 0.7rem;
    display: flex;
    justify-content: stretch;
}

.row__button {
    margin: 1px 0.1rem 1px 0.1rem !important;
    padding: 0.1rem 0.5rem;
    font-size: 0.7rem !important;
    border: 2px solid var(--border-row-buttons) !important;
    border-radius: 5px;
    display: inline-block !important;
    flex: 1;
    text-align: center;
    background: var(--row-button) !important;
    color: var(--row-button-text)
}

.row__button:hover {
    opacity: 0.8;
}

.row__submenu {
    background: var(--menu-function-row) !important;
    color: var(--dark)
}

.disabled {
    pointer-events: none;
    opacity: 0.4;
}

.strong {
    margin-top: 5px;
    font-weight: 500;
    text-decoration: underline;
}

.squareText {
    font-size: 0.7rem;
    cursor: default;
}

.noMargin {
    margin: 0;
    padding-left: 5px;
}

.textRight {
    padding: 0 5px 0 5px;
    margin: 3px 3px 0 0;
}

.inlineBlock {
    display: inline-block;
    flex-grow: 1;
}

.active {
    background-color: var(--success);
}

.inactive {
    background-color: var(--destructive);
}


#ar_dialog_selectid_title ~ div.MuiDialogContent-root {
    overflow: auto !important;
}

.MuiTabs-root div.MuiTabs-fixed {
    background-color: var(--background-primary);
    width: 100%;
    z-index: 100;
}

span[title],
.title {
    cursor: help;
}
