/* You can delete those if you want. I just found them very helpful */
* {
	box-sizing: border-box;
}
#body {
	height: 99% !important;
	min-height: 99vh;
}
.m {
	/* Don't cut off dropdowns! */
	overflow: initial;
}
.m.adapter-container,
.m.adapter-container > div.App {
	/* Fix layout/scrolling issues with tabs */
	height: 99% !important;
	width: 100%;
	position: relative;
	overflow: auto;
	display: flex;
	flex-direction: column;
}

.m .select-wrapper + label {
	/* The positioning for dropdown labels is messed up */
	transform: none !important;
}

label > i[title] {
	/* Display the help cursor for the tooltip icons and fix their positioning */
	cursor: help;
	margin-left: 0.25em;
}

.dropdown-content {
	/* Don't wrap text in dropdowns */
	white-space: nowrap;
}
/* Button */
.btn {
	margin: 10px 5px;
}
#group_menu .btn {
	width: 110px;
}

/* Background */
.bg-error {
	background-color: rgb(243, 96, 96);
}

#group_list .tab {
	text-transform: none;
}
#group_list .tab a {
	display: inline-block;
	width: 100%;
}
h1 {
	font-size: x-large !important;
	text-decoration: underline;
	margin-top: 10px !important;
}
#tab_action {
	background-color: white;
	border: 5px solid #64b5f6;
	width: 99% !important;
}

.page-footer {
	position: absolute;
	width: 100%;
	bottom: 0px;
	padding: 10px !important;
}
.page-footer a {
	float: right;
}

#dialog-select-member {
	max-height: 95% !important;
	max-width: 85% !important;
	width: 80% !important;
	height: 90% !important;
	overflow: visible !important;
	top: 100px !important;
	z-index: 100;
}
#dialog-change-groupname {
	min-width: 400px !important;
	width: 30% !important;
	height: 30% !important;
	overflow: visible !important;
	top: 100px !important;
	z-index: 100;
}
#dialog-confirm {
	min-width: 400px !important;
	width: 30% !important;
	height: 25% !important;
	overflow: visible !important;
	top: 100px !important;
	z-index: 100;
}
#dialog-confirm div.modal-content {
	width: 100% !important;
}
#dialog-copy-data {
	width: 99% !important;
	top: 100px !important;
}
.showHideMenu {
	height: 28px;
	font-size: 1rem;
	margin-bottom: 0.25rem;
	font-weight: 700;
	cursor: pointer;
}
.showHideMenu i {
	vertical-align: -5px;
}
table th {
	background-color: #64b5f6;
	padding: 0.4rem !important;
	border-radius: 0 !important;
}
.text-small {
	font-size: 0.75rem;
}
.text-xsm {
	font-size: 0.6rem;
}

div#infoNav .infoText {
	text-align: center;
	color: #ce3a3a !important;
	margin: 0;
	margin-bottom: 5px;
	text-decoration: underline;
}

.row {
	margin-bottom: 3px !important;
}
.distance {
	margin-top: 30px !important;
}
.text-vertical {
	writing-mode: vertical-lr;
	text-orientation: upright;
}
.marginTop {
	margin-top: 10px !important;
}
.bg--header {
	background-color: rgb(51, 153, 204) !important;
	margin-bottom: 5px !important;
}
.noMargin {
	margin: 0 !important;
}

.tab {
	background-color: #eee;
	margin-right: 5px !important;
	border: 3px solid #999;
	border-radius: 10px;
}
.tab:hover {
	background-color: #fff;
	border-color: #0e1072;
}
li.tab:has(.active) {
	border-color: #477da8 !important;
}
p[data-name="confirm"],
p[data-name="switch_checkbox"],
p[data-name="newline_checkbox"] {
	padding: 2px 2px;
}

#tab-action p {
	margin: 2px 0 !important;
}
#tab-action p.name {
	margin: 1px 0 !important;
	border-bottom: 2px solid white;
}
#tab-action td {
	padding: 0 3px !important;
}
.m #tab_action .modal-content {
	height: calc(100% - 50px) !important;
}

/* Menu Liste */

#btn_expand {
	width: 29px;
	height: 29px;
	border: 2px solid white;
	border-radius: 5px;
}
#group_list {
	position: absolute;
	top: 25;
	z-index: 10;
	width: 200px;
	padding: 10px;
	border-radius: 10px;
}
#group_list li {
	margin: 10px;
	text-align: center;
}
.showMenu {
	display: none;
}
#activMenuOutput {
	padding: 5px;
	border-color: #96d15a;
}

/*User Selektion  */
#group_UserInput p {
	margin-top: 0;
	padding: 0 10px;
	display: inline-block;
}
.m [type="checkbox"] + span:not(.lever) {
	margin-top: 10px !important;
	height: 15px;
}

.m p.description {
	margin: 0;
	font-size: small;
	text-decoration: underline;
	color: #96d15a !important;
}
