/* Table */

#root table {
    border-collapse: collapse !important;
    width: 100% !important;
    flex: 1;
}

table input {
    border: none !important;
}

tbody tr {
    position: relative;
    transition: background-color 0.1s ease;
}

.table__ghost-id {
    position: absolute;
    top: -2.5rem;
}

#root thead tr {
    height: 2.5rem;
    top: 0;
}

#root thead tr th,
#root thead tr td {
    background-color: var(--table-head) !important;
    font-size: var(--text-xs);
    font-weight: 600;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: white !important;
    border: none !important;
}

tr td:has(button.buttonTrue),
tr td:has(button.buttonFalse) {
    padding: 0 !important;
    margin: 0 !important;
    width: 1.25rem !important;
}

#root table .table__head-checkbox {
    width: 1.5rem;
}

.table__head-button {
    width: 1rem;
}

.table__head-select select {
    background-color: var(--table-head) !important;
    margin: 0 !important;
    border: 0 !important;
}

tr[draggable="true"] {
    cursor: grab;
    padding-right: 0.625rem !important;
    margin-right: 0.625rem;
}

tr[draggable="true"]:hover {
    background-color: var(--table-hover) !important;
    transition: background-color 0.1s ease;
}

tr[draggable="true"] span i {
    cursor: pointer;
}

tr td {
    padding: var(--space-1) var(--space-2) !important;
    font-size: var(--text-sm) !important;
    border: none !important;
}

tr td td,
#root table input {
    background-color: transparent !important;
}

tr:not(.SubTable):nth-child(odd) {
    background-color: var(--table-row-even);
}

tr:not(.SubTable):nth-child(even) {
    background-color: var(--table-row-odd);
}

.row__navigate_to-active {
    border: 0.1875rem solid var(--destructive);
}
