/* Table */

#root table {
    border-collapse: collapse !important;
    width: calc(100%) !important;
    overflow-y: auto;
    flex: 1;
}

table input {
    border: none !important;
}

tbody tr {
    position: relative;
}

.table__ghost_id {
    position: absolute;
    top: -40px;

}

#root tr th {
    background-color: #3399cc;
    padding: 0.5rem 0.5rem 0.2rem 0.5rem;
    top: 0;
}

tr td:has(button.buttonTrue),
tr td:has(button.buttonFalse) {
    padding: 0 !important;
    margin: 0 !important;
    width: 20px !important;
}

#root table .table__head_checkbox {
    width: 25px;
}

.table__head_button {
    width: 1rem;
}

tr[draggable="true"] {
    cursor: grab;
    padding-right: 10px !important;
    margin-right: 10px;
}

tr[draggable="true"]:hover {
    background-color: rgba(51, 153, 204, 0.5) !important;
}

tr[draggable="true"] span i {
    cursor: pointer;
}

tr td {
    padding: 0 5px !important;
    font-size: 0.8rem !important;
}

tr td td,
#root table input {
    background-color: transparent !important;
}

/*TODO refactor, add color vars*/
.light tr:not(.SubTable):nth-child(even) {
    background-color: #eee;
}

.dark tr:not(.SubTable):nth-child(even) {
    background-color: #333;
}

.light tr:not(.SubTable):nth-child(odd) {
    background-color: #fff;
}

.dark tr:not(.SubTable):nth-child(odd) {
    background-color: #555;
}

.dark .navigation__container table tbody tr:first-child td {
    color: black !important;
}

.dark th {
    color: black;
}

.row__navigate_to-active {
    border: 3px solid var(--destructive);
}
