/* Table */

#root table {
	border-collapse: collapse !important;
	width: 100% !important;
}
#root tr th {
	background-color: #3399cc;
	padding: 5px 5px 2px 5px;
	top: 0;
}

#root table .table__head_checkbox {
	width: 25px;
}

.table__head_button {
	width: 1rem;
}
table input {
	border: none !important;
}

tr[draggable="true"] {
	cursor: grab;
	padding-right: 10px !important;
	margin-right: 10px;
}

tr[draggable="true"]:hover {
	background-color: rgba(51, 153, 204, 0.5) !important;
}

tr[draggable="true"] span i {
	cursor: pointer;
}

tr td {
	padding: 0 5px !important;
	font-size: 0.8rem !important;
	border-bottom: none !important;
}

tr td td,
#root table input {
	background-color: transparent !important;
}

.light tr:not(.SubTable):nth-child(even),
.colored tr:not(.SubTable):nth-child(even) {
	background-color: #eee;
}
.dark tr:not(.SubTable):nth-child(even) {
	background-color: #333;
}
.light tr:not(.SubTable):nth-child(odd),
.colored tr:not(.SubTable):nth-child(odd) {
	background-color: #fff;
}
.dark tr:not(.SubTable):nth-child(odd) {
	background-color: #555;
}
.blue tr:not(.SubTable):nth-child(odd) {
	background-color: rgb(62, 68, 72);
}
.dark .MenuNavigation-Container table tbody tr:first-child td,
.blue .MenuNavigation-Container table tbody tr:first-child td {
	color: black !important;
}
.dark th,
.blue th {
	color: black;
}
