.textarea {
    box-sizing: border-box;
    background-color: var(--input-bg);
    padding: 0.5rem !important;
    width:100%;
    margin-top: 0.5rem;
}

.textarea__content {
    width: calc(100% - 1rem);
    padding: 0.5rem;
    font-size: 1.25rem;
    border: none;
    border-bottom: 1px solid var(--input-border);
    height: 100px !important;
}

.textarea__children {
    display: inline;
    vertical-align: bottom;
}

button.helper__btn_search {
    margin-top: 2rem !important;
    margin-left: 1.2rem !important;
}